@model AfterSki.Models.GetCount
    <div class="col-xs-9">
    <div>
        <span><i class="fa fa-calendar-o"></i><small> Latest Ride: </small></span> <span class="badge text-right">@Model.dayTime</span>
    </div>
    <div>
        <span><i class="fa fa-area-chart"></i><small> Total Meters This Season @*@Model.season*@: </small></span><span class="badge-success text-right"> @Model.totalMeters</span>
    </div>
    <div>
        <span><i class="fa fa-check-circle"></i><small> Total Rides This Season @*@Model.season*@: </small></span><span class="badge-prog text-right"> @Model.totalRides </span>
    </div>
</div>