@{
    ViewData["Title"] = "Home Page";
}

<section id="main-slider">
    <div class="owl-carousel">
        <div class="item" style="background-image: url(../../../images/c-ski01-1.png);">
            <div class="slider-inner">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="carousel-content text-right">
                                <h2>Create your <span>PERFECT</span> winter escape!</h2>
                                <p>Tell us our preferences and we'll be intouch with the details. </p>
                                <a class="btn btn-primary btn-lg" href="#">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/.item-->
        <div class="item" style="background-image: url(../../../images/c-ski01.png);">
            <div class="slider-inner">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="carousel-content text-right">
                                <h2>OUR MAIN GOAL IS CONTINUOUSLY SATISFY OUR <span>Clients</span></h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et  dolore magna incididunt ut labore aliqua. </p>
                                <a class="btn btn-primary btn-lg" href="#">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/.item-->
        <div class="item" style="background-image: url(../../../images/c-ski05.png);">
            <div class="slider-inner">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="carousel-content text-right">
                                <h2>Accessible design is good design. Only with <span>Color</span>.</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et  dolore magna incididunt ut labore aliqua. </p>
                                <a class="btn btn-primary btn-lg" href="#">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/.item-->
    </div><!--/.owl-carousel-->
</section>
<section id="services">
    <div class="container">
            <div class="row">
            <div class="features">
                <div class="col-sm-6 col-md-3 col-lg-3 wow fadeInUp" data-wow-duration="500ms" data-wow-delay="0ms">
                    <a href="https://www.skistar.com/sv/Vemdalen/">
                        <div class="features-item">
                            <img src="~/images/logos/vemdalen.png" />
                            <h3 class="features-title font-alt">Optimised for speed</h3>
                            Careful attention to detail and clean, well structured code ensures a smooth user experience for all your visitors.
                        </div>
                        </a>
                </div>
                <div class="col-sm-6 col-md-3 col-lg-3 wow fadeInUp" data-wow-duration="500ms" data-wow-delay="100ms">
                    <a href="https://www.skistar.com/sv/Are/">
                        <div class="features-item" >
                            <img src="~/images/logos/are.png" />
                        <h3 class="features-title font-alt">SEO Services</h3>
                        Careful attention to detail and clean, well structured code ensures a smooth user experience for all your visitors.
                    </div>
                    </a>
                </div>
                <div class="col-sm-6 col-md-3 col-lg-3 wow fadeInUp" data-wow-duration="500ms" data-wow-delay="200ms">
                    <a href="https://www.skistar.com/sv/Salen/">
                        <div class="features-item">
                            <img src="~/images/logos/salen.png" />
                            <h3 class="features-title font-alt">Optimised for speed</h3>
                            Careful attention to detail and clean, well structured code ensures a smooth user experience for all your visitors.
                        </div>
                    </a>
                </div>
                <div class="col-sm-6 col-md-3 col-lg-3 wow fadeInUp" data-wow-duration="500ms" data-wow-delay="300ms">
                    <a href="https://www.skistar.com/sv/Trysil/">
                        <div class="features-item">
                            <img src="~/images/logos/trysil.png" />
                            <h3 class="features-title font-alt">Optimised for speed</h3>
                            Careful attention to detail and clean, well structured code ensures a smooth user experience for all your visitors.
                        </div>
                        </a>
                </div>
            </div>
        </div><!--/.row-->
    </div><!--/.container-->
</section><!--/#services-->
