@{
    ViewData["Title"] = "Home Page";
}

<section id="main-slider">
    <div class="owl-carousel">
        <div class="item" style="background-image: url(../../../images/c-ski01-1.png);">
            <div class="slider-inner">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="carousel-content text-right">
                                <h2>Create your <span>PERFECT</span> winter escape!</h2>
                                <p>Tell us our preferences and we'll be intouch with the details. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/.item-->
        <div class="item" style="background-image: url(../../../images/c-ski01.png);">
            <div class="slider-inner">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="carousel-content text-right">
                                <h2>OUR MAIN GOAL IS CONTINUOUSLY SATISFY OUR <span>Clients</span></h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et  dolore magna incididunt ut labore aliqua. </p>
                           </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/.item-->
        <div class="item" style="background-image: url(../../../images/c-ski05.png);">
            <div class="slider-inner">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="carousel-content text-right">
                                <h2>Accessible design is good design. Only with <span>Color</span>.</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et  dolore magna incididunt ut labore aliqua. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/.item-->
    </div><!--/.owl-carousel-->
</section>
<section id="">
    <div class="container">
        <div class="row">
            <div class="features">                
                <div class="section-title text-center wow fadeInDown">
                    <h3><img src="~/images/logos/myskistarlogo.png" />innehåller all din åkstatistik, funktioner för kaloriberäkning, möjlighet till sammankoppling med FunBeat, topplistor och mycket mer.</h3>

                    <div class="text-justify">
                        <h4>Så här fungerar statistiken</h4>
                        <p>När du åker genom någon av liftläsarna på våra anläggningar registreras det på ditt SkiPass. Genom att ansluta ditt SkiPass till MySkiStar kan du själv följa din åkning och statistik.</p>
                        <p>Liftarnas höjdmeter, längd och mycket mer data finns inprogrammerat i systemet och beräknas automatiskt beroende på hur du åker.</p>

                        <p>Dessutom är det inlagt ungefärliga tider för hur lång tid det tar att åka en lift. Det vill säga att om du hoppar av en ankarlift på halva vägen och åker raka vägen ner och tar samma lift igen så är det inte säkert att ditt åk räknas. Detta är för att statistiken ska kunna beräknas på ett så korrekt sätt som möjligt.</p>

                        <p>Ju mer information om dig själv du fyller i, desto mer detaljerad statistik kan du få fram, exempelvis kaloriförbränning.</p>
                    </div>
                </div>
            </div>
        </div><!--/.row-->
    </div><!--/.container-->
</section>
<hr />
<section id="features">
    <div class="container">
        <div class="row">
            <div class="features">
                <div class="col-sm-6 col-md-3 col-lg-3 wow owl-fade-in" data-wow-duration="500ms" data-wow-delay="0ms">
                    <a href="https://www.skistar.com/sv/Vemdalen/">
                        <div class="features-item">
                            <img src="~/images/logos/vemdalen.png" />
                            <h3 class="features-title font-alt">Genuint i Vemdalen</h3>
                            <p>Vemdalen bjuder på allsidig skidåkning i form av utförsåkning med rejäla fallhöjder, omfattande spårsystem och fina leder på fjället. Områdets höga höjd över havet och dess inlandsklimat innebär snösäkerhet och tidig säsongstart.</p>
                        </div>
                    </a>
                </div>
                <div class="col-sm-6 col-md-3 col-lg-3 wow owl-fade-in" data-wow-duration="500ms" data-wow-delay="100ms">
                    <a href="https://www.skistar.com/sv/Are/">
                        <div class="features-item">
                            <img src="~/images/logos/are.png" />
                            <h3 class="features-title font-alt">Vårvinter i Åre med fantastisk skidåkning</h3>
                            <p>Åre bjuder på den unika kombinationen skidåkning och nöje i norra Europas mysigaste och trendigaste fjällby. Här återfinns en internationell atmosfär med många utländska besökare.</p>
                        </div>
                    </a>
                </div>
                <div class="col-sm-6 col-md-3 col-lg-3 wow owl-fade-in" data-wow-duration="500ms" data-wow-delay="200ms">
                    <a href="https://www.skistar.com/sv/Salen/">
                        <div class="features-item">
                            <img src="~/images/logos/salen.png" />
                            <h3 class="features-title font-alt">Välkommen till Sälen</h3>
                            <p>Sälenfjällen är norra Europas största alpina skidområde. På de alpina resmålen Lindvallen, Högfjället, Tandådalen och Hundfjället hittar du över 100 nedfarter, 87 liftar samt 13 rullband</p>
                        </div>
                    </a>
                </div>
                <div class="col-sm-6 col-md-3 col-lg-3 wow owl-fade-in" data-wow-duration="500ms" data-wow-delay="300ms">
                    <a href="https://www.skistar.com/sv/Trysil/">
                        <div class="features-item">
                            <img src="~/images/logos/trysil.png" />
                            <h3 class="features-title font-alt">Varierat och modernt i Trysil</h3>
                            <p>Familjevänliga Trysil är Norges största skidanläggning, med allt från stora barnområden till varierad skidåkning i långa och breda backar.</p>
                        </div>
                    </a>
                </div>
            </div>
        </div><!--/.row-->
        <div class="row">
            <div class="features">
                <div class="col-sm-6 col-md-3 col-lg-3 wow owl-fade-in" data-wow-duration="500ms" data-wow-delay="400ms">
                    <a href="https://www.skistar.com/sv/Hammarbybacken/">
                        <div class="features-item">
                            <img src="~/images/logos/hammarby.png" />
                            <h3 class="features-title font-alt">Alpin skidåkning mitt i Stockholm city</h3>
                            <p>Hammarbybacken erbjuder skidåkning för alla åldrar och alla erfarenhetsnivåer. Det finns rullband och en nedfart för nybörjare, ett parkområde och tre lagom branta nedfarter.</p>
                        </div>
                    </a>
                </div>
                <div class="col-sm-6 col-md-3 col-lg-3 wow owl-fade-in" data-wow-duration="500ms" data-wow-delay="500ms">
                    <a href="https://www.skistar.com/sv/Hemsedal/">
                        <div class="features-item">
                            <img src="~/images/logos/hemsedal.png" />
                            <h3 class="features-title font-alt">Alpkänsla i Hemsedal</h3>
                            <p>Hemsedal kallas ofta Skandinaviens Alper och det är lätt att förstå varför. Här finns de riktigt långa backarna, omgärdat av en svindlande fjällmiljö.</p>
                        </div>
                    </a>
                </div>
            </div>
        </div><!--/.row-->
    </div><!--/.container-->
</section><!--/#services-->
