@model IEnumerable<AfterSki.Models.RidePrognosis>
@{
    ViewData["Title"] = "Skidata";
}
<div class="container">
    <div class="page-header">
        <h1><span class="glyphicon glyphicon-barcode"></span> Grafer <small>....so long so far....</small></h1>
    </div>

    @* Calculate a height prognosis--------------------------------------------------------- *@
    <div>
        Get a prognosis over how much height to get at the end of the day.
        <div>
            Choose which one of the closing times that is correct for today:
        </div>
        <div>
            @* Add either a dropdownlist or radiobuttons with the alternatives of 
            1630 or 1800 as closing times. The alternative should go as value for the 
            display of data. further down *@
        </div>
        <div>
            <a asp-action="Skidata" >Calculate</a>
        </div>
        <div>
            @* Doesn't feel right at all with elementAt(0), and it doesn't work. Don't get the value *@
            Current height:
            <div>@Html.DisplayNameFor(m => m.ElementAt(0).heightForSpecificDateAndTime);</div>
            <div>
                @* show if closing at 18 was chosen from the dropdown/radiobutton *@
                Prognosed height:
                <div>@Html.DisplayNameFor(m => m.ElementAt(0).heightProg18);</div>
                @* otherwise show this for 1630 *@
                <div>@Html.DisplayNameFor(m => m.ElementAt(0).heightProg1630);</div>
            </div>
        </div>
     </div>
    @* End of calculations for the height prognosis------------------------------------------ *@
</div>