@model AfterSki.Models.RidePrognosis
@{
    ViewData["Title"] = "Skidata";
}
<div class="container">
    <div class="page-header">
        <h1><span class="glyphicon glyphicon-barcode"></span> Grafer <small>....so long so far....</small></h1>
    </div>

    @* Calculate a height prognosis--------------------------------------------------------- *@
    <div>
        Get a prognosis over how much height to get at the end of the day.
        <div>
            Choose which one of the closing times that is correct for today:
        </div>
        <div>
            (Default is 16.30.)
        </div>
        <div>
            <div>
                <form asp-controller="Home" asp-action="Skidata" method="post">
                    <div>
                        Closing at 16.30:
                        <input type="radio" value="1630" name="closing" />
                    </div>
                    <div>
                        Closing at 18.00:
                        <input type="radio" value="1800" name="closing" />
                    </div>
                    <div>
                        <button type="submit">Calculate</button>
                    </div>
                </form>
            </div>            
        </div>
        <div>
            <div>
                Current height:
                <div>
                    @Model.heightForSpecificDateAndTime
                </div>
                <div>
                    Prognosed height:
                    <div>
                        @Model.heightProg1630
                    </div>                    
                    <div>
                        @Model.heightProg18
                    </div>
                </div>
            </div>            
        </div>
     </div>
    @* End of calculations for the height prognosis------------------------------------------ *@
</div>