@model IEnumerable<WriteData.Javaobject>
@{
    ViewData["Title"] = "Skidata";
}

<script type="text/javascript">
	window.onload = function () {

		//initial value of dataPoints
	    var dps = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model) as string);

	    var chart = new CanvasJS.Chart("chartContainer",{
	        animationEnabled: true,
	        title: { 
	            text: "Martins Statistik" 
	        },
			axisX:{
			    title: "Datum",
			    labelFontSize: 20,
			    labelFontColor: "dimGrey"
			},
			axisX: {
			    labelAngle: -30
			},
			dataPointMaxWidth: 15,
			data: [
			{
			    type: "column",
			    indexLabel: "{y}",
			    dataPoints: dps , label: "{x}"   
			}
			]

		});
		var updateChart = function () {
		    chart.render();
		};

		updateChart();


	}
</script>
<div class="container">
    <div class="page-header">
        <h1><img src="~/images/logos/myskistarlogo.png" /> <small>....so long so far....</small></h1>
    </div>
    <div class="navbar navbar-default">
        <div class="dropdown navbar-form">
            <form class="navbar-form navbar-right" asp-controller="Home" asp-action="Skidata" method="post">
                @*@Html.DropDownList("searchFacility", "All")*@
                @Html.DropDownList("dropdownDates", (SelectList)ViewBag.searchFacility, "All", new { @class = "btn btn-default dropdown-toggle", data_toggle = "dropdown" })
                <button type="submit" class="btn btn-primary">Hämta data till</button>
            </form>
        </div>
    </div>
    <hr />
    <div id="chartContainer" style="height: 300px; width: 100%;"></div>
</div>

